.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.active-link {
  background: rgba(255, 255, 255, 0.2);
}

.active-link {
  border-bottom: 4px solid #ff4081;
  font-weight: bold;
}
