# --- .NET (Backend) ---
**/[Bb]in/
**/[Oo]bj/
**/.vs/
backend/*/.vs/
*.user
*.suo
*.pdb

# --- Angular (Frontend) ---
**/node_modules/
**/dist/
**/.angular/
frontend/.angular/cache/
frontend/tmp/
frontend/out-tsc/

# --- Otros ---
.DS_Store
Thumbs.db
*.log