# --- .NET (Backend) ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.shellmnt
*.visid
*.pdb

# --- Angular (Frontend) ---
node_modules/
dist/
.angular/
.sass-cache/
connect.lock
coverage/
lib/

# --- Otros  ---
.DS_Store
Thumbs.db

